In [337]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [338]:
#Read in the csv file and convert to a Pandas dataframe
Happyness_2015 = pd.read_csv("Data/2015.csv")
Happyness_2016 = pd.read_csv("Data/2016.csv")
Happyness_2017 = pd.read_csv("Data/2017.csv")
Happyness_2018 = pd.read_csv("Data/2018.csv")
Happyness_2019 = pd.read_csv("Data/2019.csv")

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [339]:
Happyness_2015.shape

(158, 12)

In [340]:
Happyness_2016.shape

(157, 13)

In [341]:
Happyness_2017.shape

(155, 12)

In [342]:
Happyness_2018.shape

(156, 9)

In [343]:
Happyness_2019.shape

(156, 9)

In [344]:
Happyness_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [345]:
Happyness_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [346]:
Happyness_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [347]:
Happyness_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [348]:
Happyness_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [349]:
Happyness_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [350]:
Happyness_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [351]:
Happyness_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [352]:
Happyness_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [353]:
Happyness_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [354]:
Happyness_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [355]:
Happyness_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [356]:
Happyness_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [357]:
Happyness_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [358]:
Happyness_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [359]:
Happyness_2015.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [360]:
Happyness_2016.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [361]:
Happyness_2017.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [362]:
Happyness_2018.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [363]:
Happyness_2019.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [364]:
# we will see how many region we have, and we have 10.
# we see also that are non dup values on country.
Happyness_2015.describe(include="object") , Happyness_2016.describe(include="object") , Happyness_2017.describe(include="object") , Happyness_2018.describe(include="object") , Happyness_2019.describe(include="object") ,

(            Country              Region
 count           158                 158
 unique          158                  10
 top     Switzerland  Sub-Saharan Africa
 freq              1                  40,
         Country              Region
 count       157                 157
 unique      157                  10
 top     Denmark  Sub-Saharan Africa
 freq          1                  38,
        Country
 count      155
 unique     155
 top     Norway
 freq         1,
        Country or region
 count                156
 unique               156
 top              Finland
 freq                   1,
        Country or region
 count                156
 unique               156
 top              Finland
 freq                   1)

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [365]:
#this is the source for this data, and its good source"s
"""
World Happiness Report Website:
🔗 https://worldhappiness.report/

Gallup World Poll (Survey Data Source):
🔗 https://www.gallup.com/

United Nations Sustainable Development Solutions Network (UNSDSN):
🔗 https://www.unsdsn.org/
"""

'\nWorld Happiness Report Website:\n🔗 https://worldhappiness.report/\n\nGallup World Poll (Survey Data Source):\n🔗 https://www.gallup.com/\n\nUnited Nations Sustainable Development Solutions Network (UNSDSN):\n🔗 https://www.unsdsn.org/\n'

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [366]:
# data is exist from 2015 to 2019, and its what we need to answers our questions.

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [367]:
# the values are not the same in all columns, and the ID country names are diffrent in the last two data set from the first three data set.
# like (between 155-158 rows per year)
# i see also that are "country","Region" in 2018,2019 are in same column.
# most of columns have the same types of method to calculate the Happyness.
# there also no missing values, no dup.

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [368]:
# i see also that are "country","Region" in 2018,2019 are in same column.
# and on 2017, did not have the column region.
Happyness_2015.describe(include='object') , Happyness_2016.describe(include='object') , Happyness_2017.describe(include='object') , Happyness_2018.describe(include='object') , Happyness_2019.describe(include='object')

(            Country              Region
 count           158                 158
 unique          158                  10
 top     Switzerland  Sub-Saharan Africa
 freq              1                  40,
         Country              Region
 count       157                 157
 unique      157                  10
 top     Denmark  Sub-Saharan Africa
 freq          1                  38,
        Country
 count      155
 unique     155
 top     Norway
 freq         1,
        Country or region
 count                156
 unique               156
 top              Finland
 freq                   1,
        Country or region
 count                156
 unique               156
 top              Finland
 freq                   1)

In [369]:
#Delete unrelevent columns

In [370]:
#data (2015-2019), this dataset is so good for us
# we will drop the extra columns like, in (2015) Standard Error: because it not a happiness factor.
# we will drop (2016) Lower Confidence Interval, Upper Confidence Interval, because is not a key factor for happiness.
# we will drop (2017) Whisker.high Whisker.low, because represent error margins not happiness.
# after all in the Questions he didn't ask for this columns and for that we will not use it in our data profiling steps. 

Happyness_2015.drop(['Standard Error'] , axis = 1 , inplace = True)
Happyness_2016.drop(['Lower Confidence Interval' , 'Upper Confidence Interval'] , axis = 1 , inplace = True)
Happyness_2017.drop([ 'Whisker.high' , 'Whisker.low' ] , axis = 1 , inplace = True)

In [371]:
# we will rename in (2018) and (2019), some columns like: Freedom to make life choices to Freedom because it look like column Freedom in the first three Data Set.  
# we will change a lot of (2017) columns names, because it have a lot of (.) on columns names.
# same is freedom, we change life social support to family to make look like the first three data set to compare the data between them.
# we do all that to make the data more readible. 


Happyness_2017.rename(columns={'Happiness.Rank': 'Happiness Rank',
                               "Economy..GDP.per.Capita.":"Economy (GDP per Capita)",
                               "Happiness.Score":"Happiness Score",
                               "Health..Life.Expectancy.":"Health (Life Expectancy)",
                               "Trust..Government.Corruption.":"Trust (Government Corruption)",
                               "Dystopia.Residual":"Dystopia Residual"}, inplace=True)


Happyness_2018.rename(columns={"Freedom to make life choices": "Freedom",
                               "Social support":"Family",
                               "Perceptions of corruption":"Trust (Government Corruption)",
                               "Overall rank":"Happiness Rank",
                               "Healthy life expectancy": "Health (Life Expectancy)",
                                "Score" : "Happiness Score",
                                "GDP per capita":"Economy (GDP per Capita)",
                                "Healthy life expectancy":"Health (Life Expectancy)"}, inplace=True)
Happyness_2019.rename(columns={"Freedom to make life choices": "Freedom",
                               "Social support":"Family",
                               "Perceptions of corruption":"Trust (Government Corruption)",
                               "Overall rank":"Happiness Rank",
                               "Healthy life expectancy": "Health (Life Expectancy)",
                                "Score" : "Happiness Score",
                                "GDP per capita":"Economy (GDP per Capita)",
                                "Healthy life expectancy":"Health (Life Expectancy)"}, inplace=True)

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

In [372]:
#there no need to use drop function to delete, because there is no duplicated values on any columns.
Happyness_2015[Happyness_2015.duplicated()].sum()

Country                            0
Region                             0
Happiness Rank                     0
Happiness Score                  0.0
Economy (GDP per Capita)         0.0
Family                           0.0
Health (Life Expectancy)         0.0
Freedom                          0.0
Trust (Government Corruption)    0.0
Generosity                       0.0
Dystopia Residual                0.0
dtype: object

In [373]:
Happyness_2016[Happyness_2016.duplicated()].sum()

Country                            0
Region                             0
Happiness Rank                     0
Happiness Score                  0.0
Economy (GDP per Capita)         0.0
Family                           0.0
Health (Life Expectancy)         0.0
Freedom                          0.0
Trust (Government Corruption)    0.0
Generosity                       0.0
Dystopia Residual                0.0
dtype: object

In [374]:
Happyness_2017[Happyness_2017.duplicated()].sum()

Country                            0
Happiness Rank                     0
Happiness Score                  0.0
Economy (GDP per Capita)         0.0
Family                           0.0
Health (Life Expectancy)         0.0
Freedom                          0.0
Generosity                       0.0
Trust (Government Corruption)    0.0
Dystopia Residual                0.0
dtype: object

In [375]:
Happyness_2018[Happyness_2018.duplicated()].sum()

Happiness Rank                     0
Country or region                  0
Happiness Score                  0.0
Economy (GDP per Capita)         0.0
Family                           0.0
Health (Life Expectancy)         0.0
Freedom                          0.0
Generosity                       0.0
Trust (Government Corruption)    0.0
dtype: object

In [376]:
Happyness_2019[Happyness_2019.duplicated()].sum()

Happiness Rank                     0
Country or region                  0
Happiness Score                  0.0
Economy (GDP per Capita)         0.0
Family                           0.0
Health (Life Expectancy)         0.0
Freedom                          0.0
Generosity                       0.0
Trust (Government Corruption)    0.0
dtype: object

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [377]:
#Display number missing values per column
Happyness_2015.isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [378]:
Happyness_2016.isna().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [379]:
Happyness_2017.isna().sum()

Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    0
Dystopia Residual                0
dtype: int64

In [380]:
Happyness_2018.isna().sum()

Happiness Rank                   0
Country or region                0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    1
dtype: int64

In [381]:
Happyness_2019.isna().sum()

Happiness Rank                   0
Country or region                0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    0
dtype: int64

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [382]:
# check columns types 
Happyness_2015.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [383]:
Happyness_2016.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [384]:
Happyness_2017.dtypes

Country                           object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Generosity                       float64
Trust (Government Corruption)    float64
Dystopia Residual                float64
dtype: object

In [385]:
Happyness_2018.dtypes

Happiness Rank                     int64
Country or region                 object
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Generosity                       float64
Trust (Government Corruption)    float64
dtype: object

In [386]:
Happyness_2019.dtypes

Happiness Rank                     int64
Country or region                 object
Happiness Score                  float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Generosity                       float64
Trust (Government Corruption)    float64
dtype: object

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [387]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [388]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [389]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [390]:
# go to clean them 
# we will see the Null Value
Happyness_2018[Happyness_2018["Trust (Government Corruption)"].isna()]
#first of all, why the value it's null? i assume that just they don't have data for it.

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [391]:
#we will replace the value "NaN" with the mean of Perceptions of corruption column.
Trust_Mean = Happyness_2018["Trust (Government Corruption)"].mean()
Trust_Mean

0.112

In [392]:
#we will replace the value "NaN" with the mean of Perceptions of corruption column.
Happyness_2018["Trust (Government Corruption)"].fillna(Trust_Mean, inplace=True)
Happyness_2018

C:\Users\ish3e\AppData\Local\Temp\ipykernel_1676\766118558.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Happyness_2018["Trust (Government Corruption)"].fillna(Trust_Mean, inplace=True)

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [393]:
Happyness_2018.isna().sum()
# we already replace the null with the mean of the Trust.

Happiness Rank                   0
Country or region                0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    0
dtype: int64

In [394]:
# Change the columns of 2018,2019 to make it like 2015,2016,2017
# Create a map from 2015–2016.
Map = pd.concat([Happyness_2015[["Country", "Region"]], Happyness_2016[["Country", "Region"]]]).drop_duplicates()

# Merge the map with 2017, 2018 and 2019 datasets.
Happyness_2017["Region"] = Happyness_2017["Country"].map(Map.set_index("Country")["Region"])
Happyness_2018["Region"] = Happyness_2018["Country or region"].map(Map.set_index("Country")["Region"])
Happyness_2019["Region"] = Happyness_2019["Country or region"].map(Map.set_index("Country")["Region"])

In [395]:
#first we will see how many region we have now 
Happyness_2018["Region"][Happyness_2018["Region"].duplicated()].value_counts()

#after we view it we see that it's indentical to the number of region we already have.

Region
Sub-Saharan Africa                 38
Central and Eastern Europe         28
Latin America and Caribbean        20
Western Europe                     19
Middle East and Northern Africa    18
Southeastern Asia                   8
Southern Asia                       6
Eastern Asia                        5
Australia and New Zealand           1
North America                       1
Name: count, dtype: int64

In [396]:
# the final thing we need is to calculate the Dystipia residual on 2018,2019, because is missing in the data. 
# so we will find a way to calculate it.
# i found that are the sum of all the columns - happiness score = dystopia resdiual. 
# so this is how to find it and add a column to it.

def calculate(x):
    sum = (
        x["Economy (GDP per Capita)"] + 
        x["Family"] + 
        x["Health (Life Expectancy)"] + 
        x["Freedom"] + 
        x["Generosity"] + 
        x["Trust (Government Corruption)"]
    )
    return x["Happiness Score"] - sum

# Apply the calculation to 2018 and 2019 data
Happyness_2018["Dystopia.Residual"] = Happyness_2018.apply(calculate, axis=1)
Happyness_2019["Dystopia.Residual"] = Happyness_2019.apply(calculate, axis=1)

# We Will check the Middle East Region and see if it correct.

In [397]:
Happyness_2015[Happyness_2015["Region"] == "Middle East and Northern Africa" ]

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
10,Israel,Middle East and Northern Africa,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
19,United Arab Emirates,Middle East and Northern Africa,20,6.901,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743
21,Oman,Middle East and Northern Africa,22,6.853,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
27,Qatar,Middle East and Northern Africa,28,6.611,1.69042,1.07860,0.79733,0.64040,0.52208,0.32573,1.55674
34,Saudi Arabia,Middle East and Northern Africa,35,6.411,1.39541,1.08393,0.72025,0.31048,0.32524,0.13706,2.43872
38,Kuwait,Middle East and Northern Africa,39,6.295,1.55422,1.16594,0.72492,0.55499,0.25609,0.16228,1.87634
48,Bahrain,Middle East and Northern Africa,49,5.960,1.32376,1.21624,0.74716,0.45492,0.30600,0.17362,1.73797
62,Libya,Middle East and Northern Africa,63,5.754,1.13145,1.11862,0.70380,0.41668,0.11023,0.18295,2.09066
67,Algeria,Middle East and Northern Africa,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
75,Turkey,Middle East and Northern Africa,76,5.332,1.06098,0.94632,0.73172,0.22815,0.15746,0.12253,2.08528
81,Jordan,Middle East and Northern Africa,82,5.192,0.90198,1.05392,0.69639,0.40661,0.14293,0.11053,1.87996
91,Morocco,Middle East and Northern Africa,92,5.013,0.73479,0.64095,0.60954,0.41691,0.08546,0.07172,2.45373
102,Lebanon,Middle East and Northern Africa,103,4.839,1.02564,0.80001,0.83947,0.33916,0.04582,0.21854,1.57059
106,Tunisia,Middle East and Northern Africa,107,4.739,0.88113,0.60429,0.73793,0.26268,0.06358,0.06431,2.12466
107,Palestinian Territories,Middle East and Northern Africa,108,4.715,0.59867,0.92558,0.66015,0.24499,0.12905,0.11251,2.04384
109,Iran,Middle East and Northern Africa,110,4.686,1.00880,0.54447,0.69805,0.30033,0.05863,0.38086,1.69440
111,Iraq,Middle East and Northern Africa,112,4.677,0.98549,0.81889,0.60237,0.00000,0.13788,0.17922,1.95335
134,Egypt,Middle East and Northern Africa,135,4.194,0.88180,0.74700,0.61712,0.17288,0.06324,0.11291,1.59927
135,Yemen,Middle East and Northern Africa,136,4.077,0.54649,0.68093,0.40064,0.35571,0.07854,0.09131,1.92313
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858

In [398]:
Happyness_2016[Happyness_2016["Region"] == "Middle East and Northern Africa" ]

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
10,Israel,Middle East and Northern Africa,11,7.267,1.33766,0.99537,0.84917,0.36432,0.08728,0.32288,3.31029
27,United Arab Emirates,Middle East and Northern Africa,28,6.573,1.57352,0.87114,0.72993,0.56215,0.35561,0.26591,2.21507
33,Saudi Arabia,Middle East and Northern Africa,34,6.379,1.48953,0.84829,0.59267,0.37904,0.30008,0.15457,2.61482
35,Qatar,Middle East and Northern Africa,36,6.375,1.82427,0.87964,0.71723,0.56679,0.48049,0.32388,1.58224
37,Algeria,Middle East and Northern Africa,38,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904
40,Kuwait,Middle East and Northern Africa,41,6.239,1.61714,0.87758,0.63569,0.43166,0.23669,0.15965,2.28085
41,Bahrain,Middle East and Northern Africa,42,6.218,1.44024,0.94397,0.65696,0.47375,0.25772,0.17147,2.27405
66,Libya,Middle East and Northern Africa,67,5.615,1.06688,0.95076,0.52304,0.40672,0.10339,0.17087,2.39374
77,Turkey,Middle East and Northern Africa,78,5.389,1.16492,0.87717,0.64718,0.23889,0.12348,0.04707,2.29074
79,Jordan,Middle East and Northern Africa,80,5.303,0.99673,0.86216,0.60712,0.36023,0.13297,0.14262,2.20142
89,Morocco,Middle East and Northern Africa,90,5.151,0.84058,0.38595,0.59471,0.25646,0.08404,0.04053,2.94891
92,Lebanon,Middle East and Northern Africa,93,5.129,1.12268,0.64184,0.76171,0.26228,0.03061,0.23693,2.07339
97,Tunisia,Middle East and Northern Africa,98,5.045,0.97724,0.43165,0.59577,0.23553,0.08170,0.03936,2.68413
104,Iran,Middle East and Northern Africa,105,4.813,1.11758,0.38857,0.64232,0.22544,0.05570,0.38538,1.99817
107,Palestinian Territories,Middle East and Northern Africa,108,4.754,0.67024,0.71629,0.56844,0.17744,0.10613,0.11154,2.40364
111,Iraq,Middle East and Northern Africa,112,4.575,1.07474,0.59205,0.51076,0.24856,0.13636,0.19589,1.81657
119,Egypt,Middle East and Northern Africa,120,4.362,0.95395,0.49813,0.52116,0.18847,0.10393,0.12706,1.96895
146,Yemen,Middle East and Northern Africa,147,3.724,0.57939,0.47493,0.31048,0.22870,0.05892,0.09821,1.97295
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789

In [399]:
# 
Happyness_2017[Happyness_2017["Region"] == "Middle East and Northern Africa" ]

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Region
10,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757,Middle East and Northern Africa
20,United Arab Emirates,21,6.648,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704,Middle East and Northern Africa
34,Qatar,35,6.375,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299,1.145464,Middle East and Northern Africa
36,Saudi Arabia,37,6.344,1.530624,1.286678,0.590148,0.449751,0.147616,0.273432,2.065430,Middle East and Northern Africa
38,Kuwait,39,6.105,1.632952,1.259699,0.632106,0.496338,0.228290,0.215160,1.640425,Middle East and Northern Africa
40,Bahrain,41,6.087,1.488412,1.323110,0.653133,0.536747,0.172668,0.257042,1.656149,Middle East and Northern Africa
52,Algeria,53,5.872,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604,Middle East and Northern Africa
67,Libya,68,5.525,1.101803,1.357564,0.520169,0.465733,0.152074,0.092610,1.835011,Middle East and Northern Africa
68,Turkey,69,5.500,1.198274,1.337753,0.637606,0.300741,0.046693,0.099672,1.879278,Middle East and Northern Africa
73,Jordan,74,5.336,0.991012,1.239089,0.604590,0.418421,0.172170,0.119803,1.791177,Middle East and Northern Africa
83,Morocco,84,5.235,0.878115,0.774864,0.597711,0.408158,0.032210,0.087763,2.456189,Middle East and Northern Africa
87,Lebanon,88,5.225,1.074988,1.129624,0.735081,0.288516,0.264451,0.037514,1.695074,Middle East and Northern Africa
101,Tunisia,102,4.805,1.007266,0.868351,0.613212,0.289681,0.049693,0.086723,1.890251,Middle East and Northern Africa
102,Palestinian Territories,103,4.775,0.716249,1.155647,0.565667,0.254711,0.114173,0.089283,1.878890,Middle East and Northern Africa
103,Egypt,104,4.735,0.989702,0.997471,0.520187,0.282110,0.128631,0.114381,1.702161,Middle East and Northern Africa
107,Iran,108,4.692,1.156873,0.711551,0.639333,0.249323,0.387243,0.048761,1.498735,Middle East and Northern Africa
116,Iraq,117,4.497,1.102710,0.978613,0.501180,0.288556,0.199637,0.107216,1.318907,Middle East and Northern Africa
145,Yemen,146,3.593,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601,Middle East and Northern Africa
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,Middle East and Northern Africa

In [400]:
Happyness_2018[Happyness_2018["Region"] == "Middle East and Northern Africa" ]

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Region,Dystopia.Residual
18,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272,Middle East and Northern Africa,1.912
19,20,United Arab Emirates,6.774,2.096,0.776,0.670,0.284,0.186,0.112,Middle East and Northern Africa,2.650
31,32,Qatar,6.374,1.649,1.303,0.748,0.654,0.256,0.171,Middle East and Northern Africa,1.593
32,33,Saudi Arabia,6.371,1.379,1.331,0.633,0.509,0.098,0.127,Middle East and Northern Africa,2.294
42,43,Bahrain,6.105,1.338,1.366,0.698,0.594,0.243,0.123,Middle East and Northern Africa,1.743
44,45,Kuwait,6.083,1.474,1.301,0.675,0.554,0.167,0.106,Middle East and Northern Africa,1.806
69,70,Libya,5.566,0.985,1.350,0.553,0.496,0.116,0.148,Middle East and Northern Africa,1.918
73,74,Turkey,5.483,1.148,1.380,0.686,0.324,0.106,0.109,Middle East and Northern Africa,1.730
79,80,Lebanon,5.358,0.965,1.179,0.785,0.503,0.214,0.136,Middle East and Northern Africa,1.576
83,84,Algeria,5.295,0.979,1.154,0.687,0.077,0.055,0.135,Middle East and Northern Africa,2.208
84,85,Morocco,5.254,0.779,0.797,0.669,0.460,0.026,0.074,Middle East and Northern Africa,2.449
89,90,Jordan,5.161,0.822,1.265,0.645,0.468,0.130,0.134,Middle East and Northern Africa,1.697
103,104,Palestinian Territories,4.743,0.642,1.217,0.602,0.266,0.086,0.076,Middle East and Northern Africa,1.854
105,106,Iran,4.707,1.059,0.771,0.691,0.459,0.282,0.129,Middle East and Northern Africa,1.316
110,111,Tunisia,4.592,0.900,0.906,0.690,0.271,0.040,0.063,Middle East and Northern Africa,1.722
116,117,Iraq,4.456,1.010,0.971,0.536,0.304,0.148,0.095,Middle East and Northern Africa,1.392
121,122,Egypt,4.419,0.885,1.025,0.553,0.312,0.092,0.107,Middle East and Northern Africa,1.445
149,150,Syria,3.462,0.689,0.382,0.539,0.088,0.376,0.144,Middle East and Northern Africa,1.244
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,Middle East and Northern Africa,1.106

In [401]:
Happyness_2019[Happyness_2019["Region"] == "Middle East and Northern Africa" ]

,Happiness Rank,Country or region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Region,Dystopia.Residual
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082,Middle East and Northern Africa,2.665
20,21,United Arab Emirates,6.825,1.503,1.310,0.825,0.598,0.262,0.182,Middle East and Northern Africa,2.145
27,28,Saudi Arabia,6.375,1.403,1.357,0.795,0.439,0.080,0.132,Middle East and Northern Africa,2.169
28,29,Qatar,6.374,1.684,1.313,0.871,0.555,0.220,0.167,Middle East and Northern Africa,1.564
36,37,Bahrain,6.199,1.362,1.368,0.871,0.536,0.255,0.110,Middle East and Northern Africa,1.697
50,51,Kuwait,6.021,1.500,1.319,0.808,0.493,0.142,0.097,Middle East and Northern Africa,1.662
71,72,Libya,5.525,1.044,1.303,0.673,0.416,0.133,0.152,Middle East and Northern Africa,1.804
78,79,Turkey,5.373,1.183,1.360,0.808,0.195,0.083,0.106,Middle East and Northern Africa,1.638
87,88,Algeria,5.211,1.002,1.160,0.785,0.086,0.073,0.114,Middle East and Northern Africa,1.991
88,89,Morocco,5.208,0.801,0.782,0.782,0.418,0.036,0.076,Middle East and Northern Africa,2.313
90,91,Lebanon,5.197,0.987,1.224,0.815,0.216,0.166,0.027,Middle East and Northern Africa,1.762
100,101,Jordan,4.906,0.837,1.225,0.815,0.383,0.110,0.130,Middle East and Northern Africa,1.406
109,110,Palestinian Territories,4.696,0.657,1.247,0.672,0.225,0.103,0.066,Middle East and Northern Africa,1.726
116,117,Iran,4.548,1.100,0.842,0.785,0.305,0.270,0.125,Middle East and Northern Africa,1.121
123,124,Tunisia,4.461,0.921,1.000,0.815,0.167,0.059,0.055,Middle East and Northern Africa,1.444
125,126,Iraq,4.437,1.043,0.980,0.574,0.241,0.148,0.089,Middle East and Northern Africa,1.362
136,137,Egypt,4.166,0.913,1.039,0.644,0.241,0.076,0.067,Middle East and Northern Africa,1.186
148,149,Syria,3.462,0.619,0.378,0.440,0.013,0.331,0.141,Middle East and Northern Africa,1.540
150,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,Middle East and Northern Africa,1.139

In [402]:
#finally we will rename the column "country or region" and make "Country", in both 2018,2019.
Happyness_2018.rename(columns={"Country or region": "Country"}, inplace=True)
Happyness_2019.rename(columns={"Country or region": "Country"}, inplace=True)
Happyness_2018.columns , Happyness_2019.columns

(Index(['Happiness Rank', 'Country', 'Happiness Score',
        'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
        'Freedom', 'Generosity', 'Trust (Government Corruption)', 'Region',
        'Dystopia.Residual'],
       dtype='object'),
 Index(['Happiness Rank', 'Country', 'Happiness Score',
        'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
        'Freedom', 'Generosity', 'Trust (Government Corruption)', 'Region',
        'Dystopia.Residual'],
       dtype='object'))

### Correcting errors

-------------------

In [403]:
#in this step we will correct the missing columns in our data >>

In [404]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.